.home-page {
  display: flex;
  flex-direction: column;
  font-family: Tahoma, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.header {
  background-color: #282c34;
  padding: 20px;
  text-align: center;
}

.footer {
  background-color: #282c34;
  padding: 10px;
  text-align: center;
}

.character-card {
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius: 16px;
  padding: 16px;
  margin: 16px auto;
  max-width: 1000px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #293654;
}

.character-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.character-profile-details {
  align-items: start;
  display: flex;
  flex-direction: column;
  width: 16vw;
  margin-left: 32px;
}

.character-name {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
}

.character-status {
  margin: 0;
}

.character-species {
  margin: 0;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 32vw;
  border-radius: 16px;
  background-color:rgb(125, 84, 84);

}

.counter-button {
  margin: 0 10px;
}

.counter-display {
  font-size: 32px;
  margin:  0 10px;
}